<!DOCTYPE html>
<html lang="eng">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Filter</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	</head>

	<body>
		<div class="wrapper">
			<div class="h1_wrapper">
				<h1>Choose Filter</h1>
			</div>
			<div class="button_wrapper">
				<div>
					<div class="div_button">
						<a class="filter_button" id="face_detect" href="{{ url_for('apply_command', command='FaceDetectCommand', filename=filename)}}">Face Detect</a>
					</div>
				</div>
				<div>
					<div class="div_button">
						<a class="undo" href="{{ url_for('uploaded_file', filename=filename)}}">Go Back</a>
					</div>
				</div>
			</div>
			<div class="prewiev_wrapper">
				<img src="{{ url_for('static', filename=filename) }}" alt="Your image can't load :c">
			</div>
			<div class="history_wrapper">
				<p>History</p>
				{% for command in commands_history %}
				<h3> {{ command[0] }}</h3>
				{% endfor %}
			</div>
		</div>
	</body>
</html>  