<!DOCTYPE html>
<html lang="eng">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Filter</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	</head>

	<body>
		<div class="wrapper">
			<div class="h1_wrapper">
				<h1>Choose Filter Type</h1>
			</div>
			<div class="button_wrapper">
				<div>
					<div>
						<a class="filter_button" id="face_detect" href=" {{ url_for('face_detect_view', filename=filename)}}">Face Detect</a>
					</div>
					<div>
						<a class="filter_button" id="rotate">Rotate</a>
					</div>
					<div>
						<a class="filter_button" id="color_filters" >Color Filters</a>
					</div>
				</div>
				<div>
					<div>
						<button class="save">Save</button>
					</div>
					<div>
						<button class="undo">Undo</button>
					</div>
				</div>
			</div>
			<div class="prewiev_wrapper">
				<img src="{{ url_for('static', filename=filename) }}" alt="Your image can't load :c">
			</div>
			<div class="history_wrapper">
				<p>History</p>
			</div>
		</div>
	</body>
</html> 